<h1> <%= @cocktail.name %> </h1>

<% @cocktail.doses.each do |dose| %>
  Ingredient : <%= dose.ingredient.name %>
  <br>
  Dose : <%= dose.description %>
<% end %>

<br>
<br>
<%= link_to "Back to all cocktails", cocktails_path %>
<%= link_to "Add new doses", cocktail_doses_path(@cocktail) %>



